* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Golos Text', sans-serif;
    font-size: 16px;
    --gutter: 15px;
    --colorRed: #FF0000;
    --colorGrey: #6F6F6F;
}
.row {
    width: 100%;
    max-width: 100vw;
}
.container {
    max-width: 100%;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    display: flex;
    flex-wrap: wrap;
}