* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    --gutter: 15px;
}
.row {
    width: 100%;
    max-width: 100vw;
}
.container {
    max-width: 100%;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}