@use './vars' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 100vw;
}

.container {
    max-width: 100%;
    width: $container;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    display: flex;
    flex-wrap: wrap;
}

.mobile-only {
    @media (min-width: $mobile) {
        display: none;
    }
}