.ui-btn {
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 14px;
    padding: 12px 30px;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}
.ui-btn_red {
    @extend .ui-btn;
    background-color: var(--colorRed);
    color: white;
    // border-radius: 5px;
}
.ui-btn_fav {
    @extend .ui-btn;
    display: block;
    aspect-ratio: 10/9;
    padding: 0;
    width: 20px;
    mask-image: url('../img/favorite.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: black;
    &:hover {
        background-color: var(--colorRed);
        transform: scale(1.1);
    }
}